<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @computertype.description %>
</p>

<%= link_to 'Edit', edit_computertype_path(@computertype) %> |
<%= link_to 'Back', computertypes_path %>
